{% extends 'Shop/Basic.html' %}
{% block title %} About Us {% endblock%}
{% block body %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">The Fashion Store</h1>
            <p>The Fashion Store is a web application developed by Satyapriya Behera of FASHION AND APPAREL TECHNOLOGY,COLLEGE OF ENGONEERING AND TECHNOLOGY,KHURDA,ODISHA as a Project for the partial fulfillment requirement for the degree of Bachelors of Technology in Fashion and apparel Technology.The service is a form of non-functional project.
                <br>Though Python uses a variety of framework but here I use Django web framework to perform the project.
                <br>The project also contains a attached payment gateway for initialising online transactions through Paytm.
            </p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>SUBMITTED TO:-</h2>
                <p>Dr. Ashwini Kumar Dash
                    <br>Head of Department(Fashion And Apparel Technology)</p>
            </div>
            <div class="col-md-4">
                <h2>GUIDED BY:-</h2>
                <p>Mrs. Bishnupriya Dash
                    <br>Faculty(Fashion And Apparel Technology) </p>
            </div>
            <div class="col-md-4">
                <h2>Submitted By:-</h2>
                <p>Satyapriya Behera
                    <br>Regd.NO:1701106646
                    <br>6th Semester</p>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->
</main>
{% endblock%}